<html>
<head>
  <title></title>
</head>
<body>

<h1>Admin's Picks</h1>
<hr>
<div class="list-group">
  <a href="http://www.atpworldtour.com/" class="list-group-item-success">
    <h4 class="list-group-item-heading">ATP Tennis</h4>
    <p class="list-group-item-text">The absolute must go-to site for every tennis fan, news, live scoring, rankings, calendars, everything a tennis fan could ever want except...a<b> forum!</b></p>
  </a>
  <br>
  <a href="https://uk.eurosport.yahoo.com/tennis/" class="list-group-item-warning">
    <h4 class="list-group-item-heading">Eurosport.com</h4>
    <p class="list-group-item-text">Another excellent site for fans to catch up with all the latest news in tennis.</p>
  </a>
 <br>
  <a href="http://www.theguardian.com/sport/tennis" class="list-group-item-primary">
    <h4 class="list-group-item-heading">The Guardian</h4>
    <p class="list-group-item-text">Check in on this site for extensive tennis news on all your favourite players and tournaments.</p>
  </a>
<br>
  <a href="http://www.livescore.com/" class="list-group-item-danger">
    <h4 class="list-group-item-heading">Livescore.com</h4>
    <p class="list-group-item-text">Catch up with all the live scoring from all your favourite tournaments right here.  </p>
  </a>
</div>

</body>
</html>