<html>
<head>
  <title>House Rules</title>
</head>
<body>
  <h2 class="bg-danger">House Rules</h2>
  <ul class="list-group">
    <li class="list-group-item list-group-item-success">Trolling allowed, in moderation only, consistent offenders will be removed.</li>
    <li class="list-group-item list-group-item-info">No racism or sexism allowed, completely unacceptable!</li>
    <li class="list-group-item list-group-item-warning">No pornograhpic material in any way, shape or form!</li>
    <li class="list-group-item list-group-item-danger">No spamming, again in moderation, consistent offenders will be removed!</li>
  </ul>
</body>
</html>

