<html>
<head>
  <title>House Rules</title>
</head>
<body>
  <h2>House Rules</h2>
  <ul>
  <li>trolling allowed</li>
  <li>No racism</li>
  <li>No pronograhpic material</li>
  <li>No spammming</li>
  <li></li>
  <li></li>

</body>
</html>