<html>
<head>
  <title>Game Set and Chat</title>
</head>
<body>
  <h1>Game Set and Chat</h1>
  <nav>
    <ul>
      
      <li>
        <%=link_to 'Forum', topics_path %>
      </li>
      <li>
        <%=link_to 'posts', posts_path %>
      </li>
    </ul>

  </nav>
</body>
</html>
