/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *Had to swap require_self with require_tree so changes in the application CSS will overide boostrap done in order to revert to restore the text on the topic show page to normal text!
 */

.signup{
text-align: center;

}



#topicsection {
  width: 100%;

}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }

iframe {
  float:left;

}

table.table {

  margin-top: 30px;
}

#mythoughts {
  float:left;
  padding-left: 30px;
  max-width: 500px;
}

h2#topicoftheday {
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 20px;
}

 

 .container p{
   max-width: 350px;
 }
#topicsshow p {
  max-width: 350px;
}

#topicsshow h3 {
  max-width: 400px;
} 



 .hello {
   float: left;
 }

 a.no_highlight {
  color: #000;
  text-decoration: none;
 }

 div.pop {
  height:0;
 }

.pop p {
  -webkit-animation: pop .4s ease forwards;
}

@-webkit-keyframes pop {
    from { font-size: 4px; }
    to { font-size: 14px; }
}